// Variables
$font-family: 'Play', sans-serif;
$base-color: #007bff;
$dark-color: #0056b3;
$light-color: #68a0f0;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$text-color: #212529;

$button-padding: 0.375rem 0.75rem;
$button-border-radius: 0.25rem;

$input-padding: 0.375rem 0.75rem;
$input-border-radius: 0.25rem;
$input-border-color: #ced4da;

$link-decoration: none;
$link-hover-color: $dark-color;

// Typography Variables
$font-size-root: 16px; // Размер шрифта для корня документа
$font-size-base: 1rem; // 16px
$font-size-lg: 1.25rem; // 20px
$font-size-sm: 0.875rem; // 14px

$line-height-base: 1.5;